
/*
STICKY HEADER
*/

#sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 0rem 1.25rem;

    color: rgb(0, 0, 0);
    z-index: 999;

    transition-property: color;
    transition-duration: 0.6s;

    background-color: transparent;
}

#sticky.active {
    color: rgb(255, 255, 255);
}

.top-bar-container{
    position: relative;
    overflow: auto;

    padding-top: 1rem;
    padding-bottom: 1rem;

    width: 100%;
    z-index: 1000;

    font-family: 'Saira Stencil One', cursive;
}

.flex-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.top-bar-left {
    display: flex;
    align-items: center;
}

.top-bar-right {

    margin-left: auto;
}

#logo {
    font-size: 2.5rem;
    padding-right: .50rem;
}

#name {
    font-family: 'Oswald', sans-serif;
    font-size: .875rem;
    letter-spacing: 0.10rem;
}

#about {
    font-family: 'Oswald', sans-serif;
    font-size: .875rem;
    letter-spacing: 0.3rem;
}


@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/*
PORTFOLIO BANNER
*/

#portfolio-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 16rem;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    height: calc(100vh - 60px);
    min-height: 550px;

    transition-property: color, background-color;
    transition-duration: 0.6s;

}

#portfolio-header.active {
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.pheader-title {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 95rem;

    padding-right: 1.25rem;
    padding-left: 1.25rem;

    font-family: 'Anton', sans-serif;
}

.line{
    line-height: 0.9;
    font-size: 11vw;
}

.animated {
    animation-duration: 1.8s;
    animation-fill-mode: both;
}

.animated.delay-p6 {
    animation-delay: 0.6s;
}

.animated.delay-p8 {
    animation-delay: 0.8s;
}

.animated.delay-p10 {
    animation-delay: 1.0s;
}

@keyframes fadeInUp{
    from {
        opacity: 0;
        -webkit-transform: translateY(300%);
        transform: translateY(300%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes fadeInUp{
    from {
        opacity: 0;
        -webkit-transform: translateY(300%);
        transform: translateY(300%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

/*
SCROLL ICON
*/

#scroll-down {
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px 100px;
}


.scroll-icon {
    display: inline-block;
    width: 2.2px;
    height: 2rem;
    border-radius: 25%;
    background-color: black;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-fill-mode: both;
    animation-delay: 1.8s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% { 
        opacity: 0; 
    }
    10% { 
        opacity: 1; 
    }
    100% { 
        transform: translateY(70%);
        opacity: 0;
    }
}

@-webkit-keyframes scroll {
    0% { 
        opacity: 0; 
    }
    10% { 
        opacity: 1; 
    }
    100% { 
        transform: translateY(70%);
        opacity: 0;
    }
}

/* 
CONTENT CODE 
*/

#content {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    height: 2000px;
}

.grid-container {
    display: grid;
    width: 100%;

    margin-top: -3.75rem;
    
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.25rem;
    row-gap: 1.25rem;
}

.grid-item {
    background-color: rgb(29, 29, 29);
    height: 150px;
    width: 100%;
}