.portfolio {

}

#portfolio-header {
    display: flex;    
    align-items: center;
    -webkit-box-align: center;
    position: relative;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    height: calc(100vh - 60px);
    min-height: 550px;

    transition-property: color, background-color;
    transition-duration: 0.6s;

}

#portfolio-header.active {
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.pheader-title {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 95rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;

    font-family: 'Anton', sans-serif;
}

.line {
    line-height: 0.9;
    font-size: 11vw;
}