.portfolio {

}

#portfolio-header {
    display: flex;    
    align-items: center;
    -webkit-box-align: center;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    height: calc(100vh - 60px);
    min-height: 550px;

    transition-property: color, background-color;
    transition-duration: 0.6s;
}

#portfolio-header.active {
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.pheader-title {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 95rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;

    font-family: 'Anton', sans-serif;
}

.line{
    line-height: 0.9;
    font-size: 11vw;
}

.animated {
    animation-duration: 2s;
    animation-delay: 0.6s;
}

@keyframes fadeInUp{
    from {
        opacity: 0;
        -webkit-transform: translateY(300%);
        transform: translateY(300%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes fadeInUp{
    from {
        opacity: 0;
        -webkit-transform: translateY(300%);
        transform: translateY(300%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}