* {
    margin:0;
    padding:0;

    box-sizing: border-box;
    touch-action: manipulation;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #2e2e2e;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    background-color: #fff;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #2e2e2e;

    -webkit-border-radius: 6px;
    border-radius: 50px;
}
