#filler {
    width: 100%;
    height: 2000px;
    background-color: black;
}

* {
    margin:0;
    padding:0;

    box-sizing: border-box;
    touch-action: manipulation;
}

html {
    font-size: 16px;
    text-size-adjust: 100%;
}

body {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
