* {
    margin:0;
    padding:0;

    box-sizing: border-box;
    touch-action: manipulation;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    -webkit-tap-highlight-color: transparent;
}
